<div class="table-responsive">
	<table class="table teble-hover table-striped" ng-show="posts">
		<thead>
			<tr>
				<td>#</td>
				<td>ID</td>
				<td>Name</td>
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(postId, post) in posts">
				<td>{{ $index + 1 }}.</td>
				<td>{{ postId }}</td>
				<td>
					<a href="{{ post.url }}">
						{{ post.title }}
					</a>
					<span class="url">({{ post.url }})</span>
				</td>
				<td>
					<a ng-href="#/posts/{{ postId }}">comments</a>
				</td>
				<td>
					<a ng-click="deletePost(postId)">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
